.App {
  text-align: center;
  background-color: ; 
}

h1 {
  color: #ea593e;
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}



/* Colours:
juno orange: #ez593a
purple: #221c38
light grey: 255, 255, 255;
light green: ebf3f1
font colour: 4a455c */
/* light orange: #edd7c8; */

/* font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif; */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* FORM STYLES */

.form-container {
  border: 1px solid  #ea593e;
  width: 80%;
  margin: 0 auto;
}

input {
  border: none;
  height: 15px;
  display: inline-block;
}


textarea {
  width: 80%;
  border: none;
  height: 200px;
  margin: 10px 0;
  resize: none;
}

.submitBtn {
  background-color: #ea593e;
  color: aliceblue;
  height: 30px;
  border: none;
  display: block;
  margin: 0 auto;
}

/* .likes {
  background-image: url('./assets/safiEmoji_128x128.png');
  height: 20px;
} */

/* bulletin Board */

.postsBoard {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts {
  /* border: 1px solid #ea593e; */
  margin: 10px;
  padding: 5px;
  background-color: #edd7c8;
  box-shadow: 1px #ea593e;

}

footer {
  background-color: #ea593e;
  text-align: center;
}

footer p {
  color: white;
}
