.App {
  text-align: center;
  /* background-color: ;  */
}

.title {
  display: flex;
  flex-direction: row;
  /* margin-top: 30px; */
  padding-top: 20px;
  width: 70%;
  /* height: 20px; */
  /* border: 1px solid red; */
  margin: 0 auto;
  /* height: 40px; */
  align-items: center;
}

.title img {
/* align-self: stretch; */
width: 45%;
object-fit: contain;
padding: 0 20px;
/* border: 1px solid red; */
}

h1 {
  color: #ea593e;
  font-family: 'Merriweather', serif;
  font-size: 4.2rem;
  padding: 0;
  margin: 0;
  /* width: 50%; */
}

p {
  font-family: 'Roboto', sans-serif;
}

.cohort26 {
  font-size: 1.5rem;
  color: #ea593e;
  margin-bottom: 6px;
}

.covidCohort {
  color: #ea593e;
  font-size: 1.3rem;
  margin-top: 0;
}

.errorMessage {
  color: #ea593e;
  text-transform: uppercase;
}

/* Colours:
juno orange: #ez593a
purple: #221c38
light grey: 255, 255, 255;
light green: ebf3f1
font colour: 4a455c */
/* light orange: #edd7c8; */

/* font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif; */

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

main {
  display: flex;
}

.motivation {
  width: 50%;
}

/* FORM STYLES */

.form-container {
  /* border: 1px solid  #ea593e; */
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

input {
  border: none;
  height: 15px;
  align-self: flex-start;

}

.toInput {
  align-self: flex-end;
}

textarea {
  width: 80%;
  border: none;
  height: 200px;
  margin: 10px 0;
  resize: none;
  align-self: center;
  padding: 10px;
}

.submitBtn {
  background-color: #ea593e;
  color: aliceblue;
  height: 30px;
  border: none;
  display: block;
  margin: 0 auto;
  align-self: flex-end;
}

.likes {
border: none;
background-color: #edd7c8;
}

.likes img {
  height: 25px;
}

/* bulletin Board */

.postsBoard {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  column-count: 2;
  flex-wrap: wrap;
  column-gap: 10px;

}

.posts {
  max-width: 300px;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #edd7c8;
  box-shadow: 1px #ea593e;
  display: flex;
  flex-direction: column;

}

.toPrefix {
  align-self: flex-start;
  font-family: 'Merriweather', serif;

}

.fromPrefix {
    align-self: flex-end;
    font-family: 'Merriweather', serif;
}

.postedMessage {
  margin: 0 15px;
}

footer {
  background-color: #ea593e;
  text-align: center;
}

footer p {
  color: white;
}
